/*General*/
body {
	background-color: #f8f9fa; /* Same as Bootstrap's "bg-light" */
}

/*Brand-related*/
.y2l-blue {
	background-color: #2f5597;
}

.y2l-yellow {
	background-color: #ffc000;
}

.y2l-red {
	background-color: #ea4d21;
}

.txt-y2l-blue {
	color: #2f5597;
}

.txt-y2l-yellow {
	color: #ffc000;
}

.txt-y2l-red {
	color: #ea4d21;
}

/*Custom*/
.navbar-offset{
	margin-top: 75px !important;
}